<div id="archive-ui" hx-target="this" hx-swap="outerHTML">
    {% if archiver.status == "Waiting" %}
        <button hx-post="{% url 'contacts:archive' %}">
            Download Contact Archive
        </button>
    {% elif archiver.status == "Running" %}
        <div hx-get="{% url 'contacts:archive' %}" hx-trigger="load delay:500ms">
            Creating Archive...
            <div class="progress">
                <div id="archive-progress" class="progress-bar"
                     style="width:{% widthratio archiver.progress 1 100 %}%"></div>
            </div>
        </div>
    {% elif archiver.status == "Complete" %}
        <a hx-boost="false" href="{% url 'contacts:archive_content' %}" _="on load click() me">Archive Downloading!
            Click here if the
            download does not start.</a>
        <button hx-delete="{% url 'contacts:reset_archive' %}">Clear Download</button>
    {% endif %}
</div>