{% extends 'layout.html' %}
{% load static %}

{% block content %}

    {% include 'archive_ui.html' %}


    <form action="{% url "contacts:index" %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q }}"
               hx-get="{% url "contacts:index" %}"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#spinner"/>
        <img style="height: 20px" id="spinner" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}"/>
        <input type="submit" value="Search"/>
    </form>

    <form x-data="{ selected: [] }">
        <template
                x-if="selected.length > 0">
            <div class="box info tool-bar flxed top">
                <slot x-text="selected.length"></slot>
                contacts selected

                <button type="button" class="bad bg color border"
                        @click="confirm(`Delete ${selected.length} contacts?`) &&
                    htmx.ajax('DELETE', '{% url 'contacts:delete_all' %}', { source: $root, target: document.body })"
                >Delete
                </button>
                <hr aria-orientation="vertical">
                <button type="button" @click="selected = []">Cancel</button>
            </div>
        </template>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% include 'rows.html' %}
            </tbody>
        </table>
        <button hx-delete="{% url 'contacts:delete_all' %}"
                hx-confirm="Are you sure you want to delete these contacts?"
                hx-target="body"
        >
            Delete Selected Contacts
        </button>
    </form>
    <p>
        <a href="{% url 'contacts:new' %}">Add Contact</a>
        <span hx-get="{% url 'contacts:count' %}" hx-trigger="revealed">
          <img id="spinner" style="height: 20px" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}"/>
        </span>
    </p>

{% endblock %}