{% extends 'layout.html' %}

{% block content %}

    <form action="{% url 'contacts:new' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Contact Values</legend>
            <div class="table rows">
                <p>
                    <label for="email">Email</label>
                    <input name="email" id="email" type="text" placeholder="Email"
                           value="{{ request.POST.email|default:'' }}">
                    <span class="error">{{ form.errors.email }}</span>
                </p>
                {{ values }}
                <p>
                    <label for="first_name">First Name</label>
                    <input name="first_name" id="first_name" type="text" placeholder="First Name"
                           value="{{ request.POST.first_name|default:'' }}">
                    <span class="error">{{ form.errors.first }}</span>
                </p>
                <p>
                    <label for="last_name">Last Name</label>
                    <input name="last_name" id="last_name" type="text" placeholder="Last Name"
                           value="{{ request.POST.last_name|default:'' }}">
                    <span class="error">{{ form.errors.last }}</span>
                </p>
                <p>
                    <label for="phone">Phone</label>
                    <input name="phone" id="phone" type="text" placeholder="Phone"
                           value="{{ request.POST.phone|default:'' }}">
                    <span class="error">{{ form.errors.phone }}</span>
                </p>
            </div>
            <button>Save</button>
        </fieldset>
    </form>

    <p>
        <a href="{% url 'contacts:index' %}">Back</a>
    </p>


{% endblock %}